<!DOCTYPE html>
<html lang="en">
{{ partial "head" . }}
<body>
  {{ partial "header" . }}

  <div class="wrapper">
    {{ block "main" . }}
        <!-- The part of the page that begins to differ between templates -->
    {{ end }}
  </div>
  {{ partial "footer" . }}

  <!-- Netlify CMS -->
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>
</html>
