<div class="section dark">
  <div class="cart">
    <a href="#" class="snipcart-checkout">
      <i class="far fa-shopping-cart fa-3x"></i>
      <div class="snipcart-summary item-count">
        <span class="snipcart-total-items"></span>
      </div>
      <div class="snipcart-summary cart-cost-total">
        Total: <span class="snipcart-total-price"></span>
      </div>
    </a>
  </div>
</div>

<!-- Netlify CMS -->
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
